/* general rules */
html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  background: #D5E1E3;
  font-family: Roboto;
  margin: 0;
  line-height: 3rem;
}

a {
  color: #5E5146;
}

.sidenote__sup {
  user-select: none;
  vertical-align: super;
  font-size: .6em;
  line-height: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
}

.sidenote {
  float: right;
  clear: both;
  margin-right: -27rem;
  margin-top: 0.6rem;
  width: 24rem;
  line-height: 2rem;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.full-text {
  max-width: 84rem;
}

.body-text {
  max-width: 57rem;
}

.hidden {
  display: none !important;
}

/* general rules for the alignment to the baseline grid */
h2 {
  padding-top: 0.7rem;
  padding-bottom: calc(2.3rem - 1px);
  line-height: 4rem;
  font-size: 3.4rem;
  border-bottom: #B6C4C7 solid 1px;
}

h3 {
  padding-top: .4rem;
  padding-bottom: .6rem;
  line-height: 3rem;
  font-size: 2.5rem;
}

h4 {
  padding-top: .65rem;
  padding-bottom: .35rem;
  font-size: 2.1rem;
  line-height: 3rem;
}

h5 {
  padding-top: .25rem;
  padding-bottom: .75rem;
  line-height: 2rem;
  font-size: 1.8rem;
}

p {
  padding-top: .8rem;
  padding-bottom: .2rem;
}

ul {
  margin: 0;
  padding-top: .8rem;
  padding-bottom: .2rem;
}

/* We already configured the parent list according to the baseline grid. */
li > ul {
  padding: 0;
}

.arrow {
  height: 12.2rem;
  padding-bottom: .8rem;
}

/* For debugging the baseline grid. */
/* h1, h2, h3, h4, p, li, .arrow {
  outline: 1px solid rgba(255, 0, 0, .5)
} */

/* welcome screen, introduction */
header h1 {
  margin-top: 23rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

header svg {
  height: 9rem;
}

header p {
  margin: 0;
  text-align: center;
}

section {
  margin: 0 auto;
}

.introduction {
  margin: 20rem auto 0 auto;
}

.arrow {
  margin: auto;
  display: block;
  margin-top: 17rem;
  margin-bottom: 10rem;
}

/* documentation */
.footer {
  padding-top: calc(1.6rem - 1px);
  padding-bottom: 1.3rem;
  margin: auto;
  max-width: 116rem;
  border-top: 1px solid #B6C4C7;
}

.footer__content, .docs {
  margin: auto;
  max-width: 114rem;
}

.docs {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row-reverse;
}

.docs__content {
  width: 84rem;
}

.docs__table-of-contents {
  position: sticky;
  top: 0rem;
  width: 27rem;
  margin-left: 3rem;
  height: 100vh;
}

.docs__table-of-contents ul {
  font-size: 1.4rem;
  padding-left: 2rem;
  line-height: 2rem;
  list-style-type: disc;
}

.docs__table-of-contents h2 {
  margin-bottom: 2.4rem;
}

p {
  margin: 0;
}

p + p {
  margin-top: 2rem;
}

h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

h2 a, h3 a, h4 a {
  color: inherit;
  text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h2 a:focus,
h3 a:focus,
h4 a:focus {
  text-decoration: underline;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

code {
  font-family: ui-monospace, 
               Menlo, Monaco, 
               "Cascadia Mono", "Segoe UI Mono", 
               "Roboto Mono", 
               "Oxygen Mono", 
               "Ubuntu Monospace", 
               "Source Code Pro",
               "Fira Mono", 
               "Droid Sans Mono", 
               "Courier New",
               monospace;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  line-height: 0;
  background: #f1f4f5;
  font-size: 1.4rem;
  box-sizing: border-box;
  max-width: 100%;

  white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: break-word;
  line-break: loose;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
  margin: 2rem 0 2rem;
  width: 84rem;
}

pre code {
  white-space: pre;
  display: block;
  line-height: 2rem;
  padding: 1.5rem 1.5rem;
  overflow-x: auto;
  clear: both;
}
 
/**
 * Based on Lea Verou's prism.js default theme
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.url-link, .token.md-link {
  color: inherit;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8.8888px; /* This will make the body font 16px. */
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    max-width: 84rem;
  }
  .docs {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .docs__table-of-contents {
    position: relative;
    width: 100%;
    margin: 0;
    height: auto;
  }
}

@media screen and (max-width: 810px) {
  .docs {
    width: 100%;
  }

  .full-text, .docs {
    max-width: 54rem;
  }

  .docs__content {
    width: auto;
  }

  .sidenote {
    float: left;
    width: 100%;
    margin: .6rem 0 .4rem 0;
    display: none;
  }
  
  .sidenote__sup--button {
    position: relative;
    cursor: pointer;
  }

  .sidenote__sup--button::after {
    content: '';
    border: 1px solid #5E514655;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .sidenote__show:checked ~ .sidenote {
    display: block;
  }

  pre {
    width: auto;
  }
}

@media screen and (max-width: 520px) {
  body {
    margin: 0 2rem;
    position: relative;
  }

  .full-text, .docs {
    max-width: 100%;
  }
}