/* general rules */
html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  background: #D5E1E3;
  font-family: Roboto;
  margin: 0;
  line-height: 3rem;
}

a {
  color: #5E5146;
}

.sidenote__sup {
  vertical-align: super;
  font-size: .6em;
  line-height: 0;
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -27rem;
  margin-top: 0.6rem;
  width: 24rem;
  line-height: 2rem;
  font-size: 1.4rem;
}

.full-text {
  width: 84rem;
}

.body-text {
  width: 57rem;
}

/* welcome screen, introduction */
header h1 {
  margin-top: 23.38rem;
  font-size: 9rem;
  line-height: 9rem;
  text-align: center;
  margin-bottom: 0;
}

header p {
  margin: .9rem 0 0 0;
  text-align: center;
}

section {
  margin: 0 auto;
}

.introduction {
  margin: 21rem auto 0 auto;
}

.introduction p {
  margin: 3rem 0;
}

.arrow {
  margin: auto;
  display: block;
  height: 12.2rem;
  margin-top: 17.2rem
}

/* documentation */
.docs {
  margin: auto;
  margin-top: 15.2rem;
  width: 114rem;
}

.docs__table-of-contents {
  position: sticky;
  top: 1.4rem;
  float: right;
  width: 27rem;
}

.docs__table-of-contents ul {
  margin: 0;
  font-size: 1.4rem;
  padding-left: 2rem;
  line-height: 2rem;
  list-style-type: disc;
}

.docs p {
  margin: 0;
}

h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

h2 a, h3 a, h4 a {
  color: inherit;
  text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h2 a:focus,
h3 a:focus,
h4 a:focus {
  text-decoration: underline;
}

h2 {
  border-bottom: 1px solid #5E5146;
  padding-bottom: 3.5rem;
  margin-bottom: 2.8rem;
}

h3 {
  margin-top: 3.9rem;
  margin-bottom: 3.1rem;
}

h4 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

code {
  font-family: ui-monospace, 
               Menlo, Monaco, 
               "Cascadia Mono", "Segoe UI Mono", 
               "Roboto Mono", 
               "Oxygen Mono", 
               "Ubuntu Monospace", 
               "Source Code Pro",
               "Fira Mono", 
               "Droid Sans Mono", 
               "Courier New",
               monospace;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  line-height: 0;
  background: #f1f4f5;
  font-size: 1.4rem;
  box-sizing: border-box;

  white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
  padding-bottom: .8rem;
  margin: 2.2rem 0 2rem;
}

code.block {
  display: block;
  line-height: 2rem;
  padding: 1.5rem 1.5rem;
  overflow-x: auto;
  width: 84rem;
}
 
/**
 * Based on Lea Verou's prism.js default theme
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.url-link {
  color: inherit;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}